@{ ViewData["Title"] = "مقايسة الأعمال";}

<div class="pageheader">
    <h1>مقايسة الأعمال</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">أنت الان علي :</span>
        <ol class="breadcrumb">
            <li>
                <a style=" color: #fff;  " href="javascript:void(0);">العملية أو المشروع</a>
            </li>
            <li class="active">مقايسة الأعمال</li>
        </ol>
    </div>
</div>
<script src="~/lib/kendo/js/kendo.upload.min.js"></script>
<section id="main-content" class="animated fadeInUp">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <form id="requestfrm">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="Code"> العملية رقم</label>

                                    <input type="text" class="form-control" name="RequestNo" id="RequestNo">
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Code">تاريخ أمر الإسناد</label>
                                    @(Html.Kendo().DatePicker()
            .Name("RequestDate")
            .Format("dd/MM/yyyy")
            .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
        )
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <br />
                                    <a href="#" class="btn btn-success" onclick="Search();"> <i class="fa fa-search"></i> بحث</a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <br />
                                    <a href="#" data-toggle="modal" class="btn btn-success" data-target="#RequestSearchModalPopup"> <i class="fa fa-search"></i> بحث مفصل</a>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Code">شركة المقاولات المسند إليها العملية</label>
                                <input type="text" class="form-control" name="Company" id="Company" disabled>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Code">العملية أو المشروع</label>
                                <input type="text" class="form-control" name="RequestName" id="RequestName" disabled>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Code">قيمة العملية</label>
                                <input type="number" class="form-control" name="RequestAmount" id="RequestAmount" disabled>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Code">مدة العملية</label>
                                <input type="number" class="form-control" name="RequestDuration" id="RequestDuration" disabled>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <br />  <br />
                                <label for="Code">شهر</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Code">تاريخ إستلام الموقع</label>
                                @(Html.Kendo().DatePicker()
            .Name("RequestStartDate")
            .Enable(false)
               .Format("dd/MM/yyyy")
            .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
        )
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Code">تاريخ النهو التعاقدي</label>
                                @(Html.Kendo().DatePicker()
            .Name("RequestEndDate")
            .Enable(false)
               .Format("dd/MM/yyyy")
            .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
        )
                            </div>
                        </div>
                        <div class="col-md-6" style=" margin-bottom: 40px;">
                            <div class="form-group">
                                <label for="Email">إختر صورة المقايسة</label>
                                <div class="demo-section k-content">
                                    @(Html.Kendo().Upload()
            .Name("FileName")
            .HtmlAttributes(new { aria_label = "files" })
            .Async(a => a
               .Save("Async_Save_Details", "Request")
               .Remove("Async_Remove_Details", "Request")
               .AutoUpload(false)
            )
            .Events(events => events
            .Select("onSelect")

        )
        )
                                </div>
                            </div>
                        </div>
                        <form id="requestResultfrm">
                            <div class="col-md-6" style=" margin-bottom: 40px;">
                                <div class="form-group">
                                    <label for="Email">تحميل نموذج مقايسة الأعمال</label>
                                    <div class="demo-section k-content">
                                        @(Html.Kendo().Upload()
            .Name("RequestExcelFileName")
            .HtmlAttributes(new { aria_label = "files" })
            .Async(a => a
               .Save("Async_Save_RequestExcel", "Request")
               .AutoUpload(false)
            )
             .Events(events => events
            .Select("onRequestExcelSelect")

        )

        )
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-2" id="Browse" style="display:none">
                            <br />
                            <a class="btn btn-success" onclick="browse();">
                                <i class="fa fa-download"></i> عرض صورة المقايسة
                            </a>
                        </div>
                        <div class="col-md-2">
                            <br />
                            <a class="btn btn-success" onclick="upload();">
                                <i class="fa fa-download"></i>رفع صورة المقايسة
                            </a>
                        </div>

                        <div class="col-md-2">
                            <br />
                            <a class="btn btn-success" href="/ImportData/ExportExcelData">
                                <i class="fa fa-download"></i>تصدير نموذج مقايسة الأعمال
                            </a>
                        </div>
                        <div class="col-md-2">
                            <br />
                            <a class="btn btn-success" href="#" onclick="uploadExcel();">
                                <i class="fa fa-download"></i>رفع النموذج
                            </a>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <br />
                                <a href="/Report/PrintRequestReport" target="_parent" class="btn btn-success">
                                    <i class="fa fa-download"></i>طباعة المقايسة
                                </a>

                            </div>
                        </div>





                        <div id="GridView" class="k-rtl col-md-12">

                            @(Html.Kendo().Grid <Abstracts.Models.Refactored.RequestDetails>()
    .Name("RequestDetailsGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.RequestDetailCode).Width(88).Title("كود البند").Locked(true).Lockable(false).ClientFooterTemplate("عدد البنود: #=count#");
        columns.Bound(p => p.RequestDetailSerial).Width(62).Title("رقم البند").Locked(true);
        columns.Bound(p => p.RequestDetailName).Width(160).Title("إسم البند");

        columns.Bound(p => p.ItemClass).Width(88).Title("فئة البند");
        columns.Bound(p => p.RequestDetailName).Width(92).Title("الوصف").Locked(true);
        columns.Bound(p => p.Unit).Width(67).Title("الوحدة");
        columns.Bound(p => p.Qty).Width(109).Title("الكمية المقدرة");
        columns.Bound(p => p.UnitPrice).Width(110).Title("سعر الوحدة بالجنيه");
        columns.Bound(p => p.TotalPrice).Width(112).Title("السعر الإجمالي").ClientFooterTemplate("إجمالي السعر: #=sum#");
        columns.Bound(p => p.Department).Width(91).Title("الفرع المختص");
    })
    //.ClientRowTemplate(
    //    "<tr class='k-master-row' data-uid='#: uid #' role='row'>" +
    //        "<td role='gridcell'> " +
    //        "<input class='k-checkbox' data-role='checkbox' aria-label='Select row' aria-checked='false' type='checkbox' disabled>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: RequestDetailCode# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: Request# </span>" +
    //        "</td>" +
    //         "<td role='gridcell'>" +
    //           "<span> #: ItemClass# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: RequestDetailName# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: Unit# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: Qty# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: UnitPrice# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: TotalPrice# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: Department# </span>" +
    //        "</td>" +
    //     "</tr>"
    //).ClientAltRowTemplate(
    //    "<tr class='k-alt k-master-row' data-uid='#: uid #' role='row'>" +
    //        "<td role='gridcell'> " +
    //        "<input class=' k-checkbox' data-role='checkbox' aria-label='Select row' aria-checked='false' type='checkbox' disabled>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: RequestDetailCode# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: Request# </span>" +
    //        "</td>" +
    //         "<td role='gridcell'>" +
    //           "<span> #: ItemClass# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: RequestDetailName# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: Unit# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: Qty# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: UnitPrice# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: TotalPrice# </span>" +
    //        "</td>" +
    //        "<td role='gridcell'>" +
    //           "<span> #: Department# </span>" +
    //        "</td>" +
    //     "</tr>"
    //)
    .ToolBar(toolbar =>
    {
        toolbar.Search().Text("بحث");
        toolbar.Custom().Text("إضافة بند").Name("CreateModal");
        toolbar.Custom().Text("تعديل البند").Name("EditModal");
    })
    .Pageable()
    .Resizable(r => r.Columns(true))
    .Reorderable(r => r.Columns(true))
    .Sortable()
    .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Single))
    .Groupable(g => g.ShowFooter(true))
    .PersistSelection(true)
    .Events(ev => ev.Change("onChangeSelection")
     .Page("onPaging"))
    .Scrollable()
    .HtmlAttributes(new { style = "height:500px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Aggregates(aggregates =>
        {
            aggregates.Add(p => p.RequestDetailCode).Count();
            aggregates.Add(p => p.TotalPrice).Sum();
        })
        .ServerOperation(false)
        .PageSize(8)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.RequestDetailId))
    .Read(read => read.Action("GetRequestDetailList", "Request"))
    )
)
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<script src="~/Scripts/jszip.min.js"></script>*@
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Ajax/RequestDetails.js"></script>



@section styles{
    <style>
        .k-clear-selected, .k-upload-selected {
            display: none !important;
        }

        .k-grid tr .checkbox-align {
            text-align: center;
            vertical-align: middle;
        }

        .k-header {
            text-align: center;
        }

        .product-photo {
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-size: 32px 35px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-right: 5px;
        }

        .product-name {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
            padding-left: 3px;
        }

        .k-rating-container .k-rating-item {
            padding: 4px 0;
        }

            .k-rating-container .k-rating-item .k-icon {
                font-size: 16px;
            }

        .dropdown-country-wrap {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            white-space: nowrap;
        }

            .dropdown-country-wrap img {
                margin-right: 10px;
            }

        #grid .k-grid-edit-row > td > .k-rating {
            margin-left: 0;
            width: 100%;
        }
    </style>
}